* {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #141C3A;
}

body{
    background-color: #FFFFFF;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.8rem;
}
p{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
    list-style-type: none; 
}

/* HERO SECTION */

.hero-container {  
    min-height: 100vh;
    background-image: url('./assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-container {
    text-align: center;
    top: 50%;
    left: 50%;
    color: red;
}

/* NAVBAR SECTION */
.navbar {
    background-color: #006190;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    position:fixed;
    top:0;
    z-index:100;
    width: 100%;
}

.navbar_left-section{
    margin: 2rem;
    font-size: 2.4rem;
    font-weight: 650;
}

.navbar_left-section a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar_right-section ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_right-section li{
    list-style: none;
}

.navbar_right-section li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 2.3rem;
    display: block;
    font-size:1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar_right-section a:hover{
    color: #141c73;
}

.toggle-button {
    position: absolute;
    cursor: pointer;
    top: 2.5rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
    
/* ABOUT SECTION */

.section {
 /*height: 100vh;  Podría requerirlo en algún momento*/
 display: flex;
 justify-content: center;
 align-items: center;
}

.section_about{
    display: flex;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 8rem;
    padding: 0rem 2rem;
    width: 85%;
}

.section_about_left{
    margin: 2.4rem;
    display: flex;
    align-items: center;
}

.section_about_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 2.1rem;
    padding: 0rem 7rem;
}

.section_about_left img{
    width: 300px;
    height: auto;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 4px 0px;
 }

.section_about_right h2{
    color: #141C3A;
    line-height: 1;
    font-size: 4.5rem;
    color: #006190;
}

.section_about_right h4{
    color: #141C3A;
    line-height: 1.6;
    padding: 1rem 0rem;
    font-size: 1.9rem;
    text-align: justify;
    line-break: 8rem;
}

/* PROFESIONAL EXPERIENCE SECTION */

#profesional-experience{
    display: flex;
    flex-direction: column;
}

#profesional-experience h2{
    line-height: 1;
    font-size: 4.5rem;
    color: #006190;
}

.section_profesional-experience{
    display: flex;
    width: 85%;
    margin-top: 1.8rem;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 9px 10px 0 rgb(233 240 243 / 50%), 0 0 0 1.4px #e6ecf8;
}

.section_profesional-experience h1, h3{ 
    text-align: center;
}

.section_profesional-experience h4{ 
    line-height: 2.5rem;
    text-align: justify;
}

.section_profesional-experience_ksquare {
    padding: 3rem;
    width: 33%;
    border-right: 0.3px solid #e6ecf8;
}

.section_profesional-experience-internship{
    padding: 3rem;
    text-align: center;
    width: 33%;
    border-right: 0.3px solid #e6ecf8;
}

.section_profesional-experience-others{
    padding: 3rem;
    text-align: center;
    width: 33%;
    border-right: 0;
}
.section_profesional-experience li {
    font-size: 1.7rem;
    padding: 1rem;
    list-style: none;
    font-weight: 350;
    line-height: 1.5;
}
.section_profesional-experience h1 {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
}

.section_profesional-experience h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: #006190;

}

/* TECHNICAL SKILLS SECTION */

#technical-skills {
    margin-top: 7rem;
}

.section_technical-skills{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    flex-wrap: wrap;
}

.section_technical-skills h2 {
    line-height: 1;
    font-size: 4.5rem;
    color: #006190; 
}

.section_technical-skills_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-item{
    width: 19rem;
    height: auto;
    margin: 3rem;
    padding: 1.4rem 2rem;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 9px 10px 0 rgb(233 240 243 / 50%), 0 0 0 1.4px #e6ecf8;
}

.grid-item img{
    object-fit: contain;
    width: 100%;
    height: auto;
}

#react-icon{
    padding: 2.2rem;
}

/* SECTION PROJECTS*/

.section_projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0rem;
}

.section_projects_item{
    width: 80%;
    display: flex;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1.12px #e6ecf8;
    margin: 2rem;
}

.section_projects_item--left1, .section_projects_item--right2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.section_projects_item--left1 img, .section_projects_item--right2 img{
    max-width: 95%;
    height: auto;
    padding: 2rem 0rem;
 }

 .section_projects_item--right1, .section_projects_item--left2 {
    width: 55%;
    padding: 2.5rem;
 }

 .section_projects_item--right1 p, .section_projects_item--left2 p{
    line-height: 1.5;
    padding: 0.6rem;
 }

 .section_projects_item--right1 h2, h4{
    padding: 0.6rem;
 }
 .section_projects_item--left2 h2, h4{
    padding: 0.6rem;
 }

.logos-section img{
    width:4.8rem;
    height: auto;
    margin-right: 4rem;
}

.section_contact{
    width: 100%;
    padding: 7rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: #006190;
    color: #FFFFFF;
}

.section_contact h1{
    font-size: 4.5rem;
    padding-bottom: 2rem;
}

.section_contact h2{
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 2rem;
}

.section_about_social img {
    width:4.8rem;
    height: auto;
    margin: 3rem;
}


@media (max-width: 609px){   
    .section_about_left{
       display: none;
    }

    .section_about_right{
        margin: 0rem;
        padding: 0rem;
        line-height: 1rem;
    }

    .section_profesional-experience{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_profesional-experience_ksquare, .section_profesional-experience-internship, .section_profesional-experience-others {
        width: 100%;
    }

    .section_projects_item{
        display: flex;
        flex-direction: column;
    }

    .grid-item{
        width: 15rem;
        height: auto;
        margin: 2rem;
    }

    .section_projects_item--left1, .section_projects_item--right2, .section_projects_item--right1, .section_projects_item--left2 {
        width: 100%;
    }
}
/* 561*/

@media (min-width: 610px) and (max-width:767px) {
    .section_about_left{
        display: none;
    }

    .section_about_right{
        margin: 0rem;
        padding: 0.2rem;
    }

    .section_profesional-experience{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_profesional-experience_ksquare, .section_profesional-experience-internship, .section_profesional-experience-others {
        width: 100%;
    }

    .section_projects_item{
        display: flex;
        flex-direction: column;
    }

    .section_projects_item--left1, .section_projects_item--right2, .section_projects_item--right1, .section_projects_item--left2 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width:1100px){
    .section_about_left{
        display: none;
    }

    .section_profesional-experience{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_profesional-experience_ksquare, .section_profesional-experience-internship, .section_profesional-experience-others {
        width: 100%;
    }
}

/* Navbar*/
@media (max-width: 1050px) {
    .toggle-button{
        display: flex;
    }

    .navbar_right-section{
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_right-section ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar_right-section li{
        text-align: center;
    }
    .navbar_right-section li a{
        padding: 1.5rem;
    }
    .navbar_right-section.active{
        display: flex;
    }
}