* {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media (max-width: 950px) {
    html {
      font-size: 50%; 
    }
}

body{
    background-color: #F7FAFC;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    list-style-type: none; 
}

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 9px;
}

.navbar_left-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_button-list{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar_button{
    padding: 2.7rem 1.9rem 1.5rem 1.5rem;
    color: #F7FAFC;
    font-size: 1.8rem;
    cursor: pointer;    
}

.navbar_button--home{
    font-size: 2.2rem ;
    font-weight: bolder;
}

.navbar_button--primary{
    display: flex;
    align-self: center;
}

.navbar_button--primary:hover{
   border-bottom: 2.5px solid #00D1B2
}